{% extends 'base.html.twig' %}

{% block title %}Gestion des jeux{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
  {% for message in app.flashes('success') %}
            <div class="alert alert-success">
              <i class="fa fa-check"></i>
                {{ message }}
            </div>
        {% endfor %}


      {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
              <i class="fa fa-remove"></i>
                {{ message }}
            </div>
        {% endfor %}    

      {{form_start(form)}}

      {{form_row(form.Nom)}}
      {{form_row(form.Type_de_jeux)}}  
      {{form_row(form.Console)}}
      {{form_row(form.Date_creation)}}
      {{form_row(form.Editeur)}}
      {{form_row(form.Developpeur)}}
      {{form_row(form.Description)}}
     {% if Modif and Image1 %}
        
     <div class="form-group">
        <label for="gestion_Image1">logo</label>
       
            <div class="custom-file" >
            {{Image_logo}}
             <div id="image1IMG">
            <input type='hidden' id='gestion_image1' name='file1' value="{{Image1}}">
            </div>
            <button type="button" id="btn-modifier_image1" class="btn btn-success">Modifier</button>   
              <br />  
              <br />     
        </div>
            <div class="form-group" id="image-presente-image1">
                 <img src="/images-back/Fabricant/{{Image1}}" title="logo" width="30%"/><br />
             </div>
    </div>
     {%do form.image1.setRendered(true)%}
    {% else %}
    <!--<div class="form-group">
        <label for="gestion_fabricant_Image">Logo</label>
            <div class="custom-file">
                <input type="file" id="gestion_fabricant_Image" name="gestion_fabricant[Image]" class="custom-file-input" />
                 <label for="gestion_fabricant_Image" class="custom-file-label"></label>
            </div>
    </div>-->
    {{form_row(form.image1)}}
  

    {% endif %}
     {% if Modif and Image2 %}
        
     <div class="form-group">
        <label for="gestion_Image2">logo</label>
       
            <div class="custom-file" >
            {{Image_logo}}
             <div id="image2IMG">
            <input type='hidden' id='gestion_image2' name='file2' value="{{Image1}}">
            </div>
            <button type="button" id="btn-modifier_image2" class="btn btn-success">Modifier</button>   
              <br />  
              <br />     
        </div>
            <div class="form-group" id="image-presente-image2">
                 <img src="/images-back/Fabricant/{{Image2}}" title="logo" width="30%"/><br />
             </div>
    </div>
     {%do form.image2.setRendered(true)%}
    {% else %}
    <!--<div class="form-group">
        <label for="gestion_fabricant_Image">Logo</label>
            <div class="custom-file">
                <input type="file" id="gestion_fabricant_Image" name="gestion_fabricant[Image]" class="custom-file-input" />
                 <label for="gestion_fabricant_Image" class="custom-file-label"></label>
            </div>
    </div>-->
    {{form_row(form.image2)}}
  

    {% endif %}
      {% if Modif and Image3 %}
        
     <div class="form-group">
        <label for="gestion_Image3">logo</label>
       
            <div class="custom-file" >
            {{Image_logo}}
             <div id="image3IMG">
            <input type='hidden' id='gestion_image3' name='file3' value="{{Image3}}">
            </div>
            <button type="button" id="btn-modifier_image3" class="btn btn-success">Modifier</button>   
              <br />  
              <br />     
        </div>
            <div class="form-group" id="image-presente-image3">
                 <img src="/images-back/Fabricant/{{Image3}}" title="logo" width="30%"/><br />
             </div>
    </div>
     {%do form.image3.setRendered(true)%}
    {% else %}
    <!--<div class="form-group">
        <label for="gestion_fabricant_Image">Logo</label>
            <div class="custom-file">
                <input type="file" id="gestion_fabricant_Image" name="gestion_fabricant[Image]" class="custom-file-input" />
                 <label for="gestion_fabricant_Image" class="custom-file-label"></label>
            </div>
    </div>-->
    {{form_row(form.image3)}}
  

    {% endif %}
       {% if Modif and Image4 %}
        
     <div class="form-group">
        <label for="gestion_Image4">logo</label>
       
            <div class="custom-file" >
            {{Image_logo}}
             <div id="image4IMG">
            <input type='hidden' id='gestion_image4' name='file4' value="{{Image4}}">
            </div>
            <button type="button" id="btn-modifier_image4" class="btn btn-success">Modifier</button>   
              <br />  
              <br />     
        </div>
            <div class="form-group" id="image-presente-image4">
                 <img src="/images-back/Fabricant/{{Image4}}" title="logo" width="30%"/><br />
             </div>
    </div>
     {%do form.image4.setRendered(true)%}
    {% else %}
    <!--<div class="form-group">
        <label for="gestion_fabricant_Image">Logo</label>
            <div class="custom-file">
                <input type="file" id="gestion_fabricant_Image" name="gestion_fabricant[Image]" class="custom-file-input" />
                 <label for="gestion_fabricant_Image" class="custom-file-label"></label>
            </div>
    </div>-->
    {{form_row(form.image4)}}
  

    {% endif %}
      {{form_row(form.video)}}


        {% if Modif %}
         <button type="submit" class="btn btn-primary">Modifier</button>
    {% else %}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {% endif %} 
      {{form_end(form)}}
</div>

<script type="text/javascript">
  jQuery(function ($) {
    $('.js-datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });

     var Modif = function(idImage,path,img){
                  
                      var template = '<input type="file" id="'+idImage+'" name="" class="custom-file-input" /><label for="'+idImage+'" class="custom-file-label"></label>';
                      $("#IMG"+img).parent().html(template);
                  
                      $("#image-presente-"+img).remove();
                      $('#'+idImage).on('change',function(){
                          ajaxImage(idImage,path,img); 
                      });
                 
                   }

            var ajaxImage = function(idImage,path,img){
       
                      //get the file name
               var fd = new FormData();
               var file_data = $('#'+idImage).prop('files')[0];
               fd.append('file',file_data);
               var fileName= $('#'+idImage).val();
              
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html('toto');
                waitingDialog.show('Chargement de l\'image');
              
               $.ajax({
                type:"post",    
                url:path,
                data:fd,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                dataType:"json",
                success:function(data){
                    if(data.status == "success")
                     setTimeout(function () {waitingDialog.hide();
                                            $('.alert-danger').remove();
                                             $("#"+idImage).parent().html(data.newfilename+" &nbsp;<div id='IMG"+img+"'><input type='hidden' id='"+idImage+"' name='file"+img+"' value='"+data.newfilename+"'></div>");
                                             $("#"+idImage).parent().append('<button type="button" id="btn-modifier_'+idImage+'" class="btn btn-success">Modifier</button><br /><br />  ')
                                             $("#"+idImage).parent().after('<div class="form-group" id="image-presente_'+img+'"> <img src="/images-back/Fabricant/'+data.newfilename+'" title="logo" width="30%"/></div><br />');
                                             $("#btn-modifier_"+idImage).click(function(){
                                                 Modif(idImage,path,img);
                                                }); 
                                            }, 3000);
                     else{
                          setTimeout(function () {waitingDialog.hide();
                          
                        $("#"+idImage).parent().after('<div class="alert alert-danger">'+data.newfilename+'</div>');
                        
                           }, 3000);
                          
                        }
                    }
                   
                 

                });
                

            }


           $("#btn-modifier_gestion_jeux_image1").click(function(){
               Modif('gestion_jeux_image1','{{path("upload_image")}}','image1');
           }); 

           $('#gestion_jeux_image1').on('change',function(){
              ajaxImage('gestion_jeux_image1','{{path("upload_image")}}','image1');
             
            }); 

               $("#btn-modifier_gestion_jeux_image2").click(function(){
               Modif('gestion_jeux_image2','{{path("upload_image")}}','image2');
           }); 

           $('#gestion_jeux_image2').on('change',function(){
              ajaxImage('gestion_jeux_image2','{{path("upload_image")}}','image2');
             
            }); 

               $("#btn-modifier_gestion_jeux_image3").click(function(){
               Modif('gestion_jeux_image3','{{path("upload_image")}}','image3');
           }); 

           $('#gestion_jeux_image3').on('change',function(){
              ajaxImage('gestion_jeux_image3','{{path("upload_image")}}','image3');
             
            }); 

            $("#btn-modifier_gestion_jeux_image4").click(function(){
               Modif('gestion_jeux_image4','{{path("upload_image")}}','image4');
           }); 

           $('#gestion_jeux_image4').on('change',function(){
              ajaxImage('gestion_jeux_image4','{{path("upload_image")}}','image4');
             
            }); 
      
        


  }); 
</script>        
{% endblock %}
