{% extends 'base.html.twig' %}

{% block body %}
{% include 'header.html.twig' %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">

<h1>Gestion des Jeux</h1>

   {% for message in app.flashes('success') %}
            <div class="alert alert-success">
              <i class="fa fa-check"></i>
                {{ message }}
            </div>
        {% endfor %}

   {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
              <i class="fa fa-remove"></i>
                {{ message }}
            </div>
        {% endfor %}      

  {% if count == 0 %}
      <div class="alert alert-info">
        Il n'y a aucun Jeux d'enregistré
      </div>
  {% else %}
      <div class="list-group">
        <a href="#" class="list-group-item active" title="Secteurs d'activité">
            Liste des Jeux
        </a>
  {% endif %}  
  
    {% for jeuxx in jeux %}
    <li class="list-group-item d-flex justify-content-between" title="Fabricant">
      <div class="align-items-start">
       {{jeuxx.nom}}&nbsp; 
       </div>
      <div class="align-items-start">
        <a href="{{path('modif_console',{'id' :jeuxx.id })}}" class="fa fa-edit"></a>
         <a href="#" class="fa fa-trash-o " data-toggle="modal" data-target="#exampleModal{{jeuxx.id}}"></a>
      </div>
    </li>
    {% endfor %}
  </div> 
 
   <div class="navigation text-center">
            {{ knp_pagination_render(jeux) }}
        </div>

  {% for item in jeux %}
     {% include 'modal_jeux.html.twig' %}
  {% endfor %}
</div>
{% endblock %}


