{% extends 'base.html.twig' %}

{% block title %}Gestion des Types de Jeux{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   {% for message in app.flashes('success') %}
            <div class="alert alert-success">
              <i class="fa fa-check"></i>
                {{ message }}
            </div>
        {% endfor %}


      {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
              <i class="fa fa-remove"></i>
                {{ message }}
            </div>
        {% endfor %}    

        
        {{form_start(form)}}

        {{form_row(form.Nom_du_type)}}
        {{form_row(form.Description)}}

    {% if Modif %}
         <button type="submit" class="btn btn-primary">Modifier</button>
    {% else %}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {% endif %} 
        {{form_end(form)}}
{% endblock %}
