{% extends 'base.html.twig' %}

{% block title %}Gestion des consoles{% endblock %}

{% block body %}
{% include 'header.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
  {% for message in app.flashes('success') %}
            <div class="alert alert-success">
              <i class="fa fa-check"></i>
                {{ message }}
            </div>
        {% endfor %}


  {{form_start(form)}} 
   {{form_row(form.Nom)}}
   {{form_row(form.Annee_de_creation)}}
   {{form_row(form.Description)}}
   {{form_row(form.Fabricant)}}
   




  {% if Modif and Image_console %}
        
     <div class="form-group">
        <label for="gestion_console_Image">console</label>
       
            <div class="custom-file" >
            {{Image_console}}
              <div id="consoleIMG">
                  <input type='hidden' id='gestion_console_Image' name='fileconsole' value="{{Image_console}}">
              </div>
            <button type="button" id="btn-modifier_console" class="btn btn-success">Modifier</button>   
            <br />  
            <br />     
        </div>
            <div class="form-group" id="image-presente-console">
                 <img src="/images-back/Fabricant/{{Image_console}}" title="logo" width="30%"/><br />
             </div>
    </div>
     {%do form.Image_console.setRendered(true)%}
    {% else %}
    <!--<div class="form-group">
        <label for="gestion_fabricant_Image">Logo</label>
            <div class="custom-file">
                <input type="file" id="gestion_fabricant_Image" name="gestion_fabricant[Image]" class="custom-file-input" />
                 <label for="gestion_fabricant_Image" class="custom-file-label"></label>
            </div>
    </div>-->
    {{form_row(form.Image_console)}}
  

    {% endif %}


   {% if Modif and Image_logo %}
        
     <div class="form-group">
        <label for="gestion_logo_Image">logo</label>
       
            <div class="custom-file" >
            {{Image_logo}}
             <div id="logoIMG">
            <input type='hidden' id='gestion_logo_Image' name='filelogo' value="{{Image_logo}}">
            </div>
            <button type="button" id="btn-modifier_logo" class="btn btn-success">Modifier</button>   
              <br />  
              <br />     
        </div>
            <div class="form-group" id="image-presente-logo">
                 <img src="/images-back/Fabricant/{{Image_logo}}" title="logo" width="30%"/><br />
             </div>
    </div>
     {%do form.Image_logo.setRendered(true)%}
    {% else %}
    <!--<div class="form-group">
        <label for="gestion_fabricant_Image">Logo</label>
            <div class="custom-file">
                <input type="file" id="gestion_fabricant_Image" name="gestion_fabricant[Image]" class="custom-file-input" />
                 <label for="gestion_fabricant_Image" class="custom-file-label"></label>
            </div>
    </div>-->
    {{form_row(form.Image_logo)}}
  

    {% endif %}


  {% if Modif %}
         <button type="submit" class="btn btn-primary">Modifier</button>
    {% else %}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    {% endif %} 

  {{form_end(form)}}
</div>


<script type="text/javascript">
  jQuery(function ($) {
    $('.js-datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });
/**
        var templateConsole = '<input type="file" id="gestion_console_Image_console" name="gestion_console[Image]" class="custom-file-input" /><label for="gestion_console_Image_console" class="custom-file-label"></label>';
       // var templateConsole2 = data.newfilename+" &nbsp;<div id='IMG"+idImage+"'><input type='hidden' id='"+idImage+"' name='file' value='"+data.newfilename+"'></div>"
        var templateLogo = '<input type="file" id="gestion_console_Image_logo" name="gestion_console[Image_logo]" class="custom-file-input" /><label for="gestion_console_Image_logo" class="custom-file-label"></label>';
**/        
        var Modif = function(idImage,path,img){
                  
                      var template = '<input type="file" id="'+idImage+'" name="" class="custom-file-input" /><label for="'+idImage+'" class="custom-file-label"></label>';
                      $("#"+img+"IMG").parent().html(template);
                  
                      $("#image-presente-"+img).remove();
                      $('#'+idImage).on('change',function(){
                          ajaxImage(idImage,path,img); 
                      });
                 
                   }

            var ajaxImage = function(idImage,path,img){
       
                      //get the file name
               var fd = new FormData();
               var file_data = $('#'+idImage).prop('files')[0];
               fd.append('file',file_data);
               var fileName= $('#'+idImage).val();
              
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html('toto');
                waitingDialog.show('Chargement de l\'image');
              
               $.ajax({
                type:"post",    
                url:path,
                data:fd,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                dataType:"json",
                success:function(data){
                    if(data.status == "success")
                     setTimeout(function () {waitingDialog.hide();
                                            $('.alert-danger').remove();
                                             $("#"+idImage).parent().html(data.newfilename+" &nbsp;<div id='IMG"+idImage+"'><input type='hidden' id='"+idImage+"' name='file"+img+"' value='"+data.newfilename+"'></div>");
                                             $("#"+idImage).parent().append('<button type="button" id="btn-modifier_'+idImage+'" class="btn btn-success">Modifier</button><br /><br />  ')
                                             $("#"+idImage).parent().after('<div class="form-group" id="image-presente_'+idImage+'"> <img src="/images-back/Fabricant/'+data.newfilename+'" title="logo" width="30%"/></div><br />');
                                             $("#btn-modifier_"+img).click(function(){
                                                 Modif(idImage,path,img);
                                                }); 
                                            }, 3000);
                     else{
                          setTimeout(function () {waitingDialog.hide();
                          
                        $("#"+idImage).parent().after('<div class="alert alert-danger">'+data.newfilename+'</div>')
                        
                           }, 3000);
                          
                        }
                    }
                   
                 

                });
                

            }


           $("#btn-modifier_console").click(function(){
               Modif('gestion_console_Image_console','{{path("upload_image")}}','console');
           }); 

           $('#gestion_console_Image_console').on('change',function(){
              ajaxImage('gestion_console_Image_console','{{path("upload_image")}}','console');
             
              
           }); 
      
          $("#btn-modifier_logo").click(function(){
               Modif('gestion_console_Image_logo','{{path("upload_image")}}','logo');
           });

             
             
          $('#gestion_console_Image_logo').on('change',function(){
              
              ajaxImage('gestion_console_Image_logo','{{path("upload_image")}}','logo');
             
          });

  });     
</script>

{% endblock %}