{% extends 'base.html.twig' %}

{% block body %}
{% include 'header.html.twig' %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<div class="example-wrapper">

<h1>Gestion des Consoles</h1>
  
      <form name="recherche_jeux" method="post"  enctype="multipart/form-data">

      <div class="form-group">
        <label for="recherche" class="required">Nom</label>
          <input type="text" id="recherche" name="recherche"  maxlength="255"  style="width:80%" placeholder="recherche ...."/>
          <input type="button" class="btn btn-primary" id="recherche_result" value="rechercher"/>
          </div>

      </form>
<div class="recheche_liste">      
    {% include 'gestion_console/listeSubConsole.html.twig' %}
</div>  


<script type="text/javascript">

  jQuery(function($){

    $("#recherche_result").click(function(){
        setTimeout(function (){
          $.ajax({
                   type:"post",    
                   url:"/gestion/RechercheConsole",
                   data:{value : $("#recherche").val()},
                   enctype: 'multipart/form-data',
              
                  success:function(data){
                  $(".recheche_liste").html(data);
                  
                }
          });
           
           
        },3000);

            var html = "<div class='text-center'><img src='/images/giphy.gif' title='loading' class='center-block' /></div>";
            $(".recheche_liste").html(html);
           



      });
  });   



</script>

{% endblock %}


