
 {% for message in app.flashes('success') %}
            <div class="alert alert-success">
              <i class="fa fa-check"></i>
                {{ message }}
            </div>
        {% endfor %}

   {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
              <i class="fa fa-remove"></i>
                {{ message }}
            </div>
        {% endfor %}      

  {% if count == 0 %}
      <div class="alert alert-info">
        Il n'y a aucune Console d'enregistré
      </div>
  {% else %}
      <div class="list-group">
        <a href="#" class="list-group-item active" title="Secteurs d'activité">
            Liste des Consoles
        </a>
  {% endif %}  
  
    {% for Consoles in Console %}
    <li class="list-group-item d-flex justify-content-between" title="Fabricant">
      <div class="align-items-start">
       {{Consoles.nom}}&nbsp; 
       </div>
      <div class="align-items-start">
        <a href="{{path('modif_console',{'id' :Consoles.id })}}" class="fa fa-edit"></a>
         <a href="#" class="fa fa-trash-o " data-toggle="modal" data-target="#exampleModal{{Consoles.id}}"></a>
      </div>
    </li>
    {% endfor %}
  </div> 
 
   <div class="navigation text-center">
            {{ knp_pagination_render(Console) }}
        </div>
      