<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
        <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
        <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
        <!--[if gt IE 8]><!-->
      
        <!--<![endif]-->


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  
     
        {% block stylesheets %}
        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="favicon.ico">

        <link rel="stylesheet" href="{{ asset ('vendors/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset ('vendors/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset ('vendors/themify-icons/css/themify-icons.css') }}">
        <link rel="stylesheet" href="{{ asset ('vendors/flag-icon-css/css/flag-icon.min.css') }}">
        <link rel="stylesheet" href="{{ asset ('vendors/selectFX/css/cs-skin-elastic.css') }}">
        <link rel="stylesheet" href="{{ asset ('vendors/jqvmap/dist/jqvmap.min.css') }}">
         <link rel="stylesheet" href="{{ asset ('vendors/jquery/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset ('assets/css/style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
     {% endblock %}

      {% block javascripts %}
            <script src="{{ asset ('vendors/jquery/dist/jquery.min.js') }}"></script>
             <script src="{{ asset ('vendors/jquery/jquery-ui.min.js') }}"></script>
            <script src="{{ asset ('vendors/popper.js/dist/umd/popper.min.js') }}"></script>
            <script src="{{ asset ('vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
              <script src="{{ asset ('vendors/mustache/mustache.min.js') }}"></script>
            <script src="{{ asset ('waitingfor/bootstrap-waitingfor.js') }}"></script>
            <script src="{{ asset ('assets/js/main.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
   

        
        
        
        {% endblock %}
      
          
  
    </body>
</html>
